<div class="wrapper">
  <div class="card">
    <ul class="list-inline">
      <% @letters.each do |letter| %>
        <li><%= letter %></li>
      <% end %>
    </ul>
  </div>

  <br>
  <p>What is the longest word you can find?</p>

  <form action="/score" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag :letters, @letters %>
      <%= hidden_field_tag :start_time, Time.now %>
      <input type="text" name="word" class=form-control>
      <br>
      <input type="submit" class="btn btn-primary btn-block" input type="submit" value="Play">
</div>
